.btn {
    display: flex;
    height: 40px;
    padding: 0px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    &::after {
        content: '';
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9ImFycm93LXJpZ2h0Ij4KPHBhdGggaWQ9IlZlY3RvciIgZD0iTTMuMzMzMzMgOEgxMi42NjY3IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBpZD0iVmVjdG9yXzIiIGQ9Ik04IDMuMzMzMjVMMTIuNjY2NyA3Ljk5OTkyTDggMTIuNjY2NiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9nPgo8L3N2Zz4K");
        width: 16px;
        height: 16px;        
    }

    &-primary {
        background: $primary;
        color: $white;
        border-radius: 50px;
        background: linear-gradient(93deg, #0290D0 3.23%, #3BAFE0 68.59%, #D6D63E 132.41%);
    }
}